.custom-circle {
	background: rgba(15, 28, 63, 0.125);
	border-radius: 50%;
	object-fit: cover;
}

.custom-circle:hover {
	border: 0.3em solid #303d45;
}

img.custom-circle {
	height: 15em !important;
	width: 15em !important;
}

.ui .card {
	background-color: #3c4d58;
	border-radius: 1rem;
	width: 80%;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	box-shadow: none;
}

.ui .card > .content > .header > * {
	color: white;
}

.ui .card > .content > .meta {
	margin-top: 0.3em;
	color: white;
}

.ui .card > .content > .description {
	color: white;
}

.actionButton {
	display: flex;
	justify-content: flex-end;
	margin-right: 0.5em;
}

label{
	color: #969696;
}

.panelField{
	display: flex;
	flex-direction: column;
}